<button type="button" class="btn {{if ratingOne "btn-success"}}" {{action "ratingClicked" 1}}>
  <span class="glyphicon glyphicon-star"></span>
</button>
<button type="button" class="btn {{if ratingTwo "btn-success"}}" {{action "ratingClicked" 2}}>
  <span class="glyphicon glyphicon-star"></span>
</button>
<button type="button" class="btn {{if ratingThree "btn-success"}}" {{action "ratingClicked" 3}}>
  <span class="glyphicon glyphicon-star"></span>
</button>
<button type="button" class="btn {{if ratingFour "btn-success"}}" {{action "ratingClicked" 4}}>
  <span class="glyphicon glyphicon-star"></span>
</button>
<button type="button" class="btn {{if ratingFive "btn-success"}}" {{action "ratingClicked" 5}}>
  <span class="glyphicon glyphicon-star"></span>
</button>
