<form {{action "formSubmit" model on="submit"}}>
  <div class="row"> {{!-- photo + details --}}

    <div class="col-md-3 photo-upload"> {{!-- photo --}}
      <div class="form-group">
        <label class="control-label" for="uploadPhoto">Upload a photo</label>
        <input class="form-control" id="uploadPhoto" type="file">
      </div>
    </div> {{!-- /photo --}}

    <div class="col-md-9"> {{!-- details --}}
      <div class="row"> {{!-- producer and year --}}
        {{form-input-producer review=model}}
        {{form-input-year review=model}}
      </div> {{!-- /producer and year --}}

      <div class="row"> {{!-- type and price --}}
        {{form-select-drink-type}}
        {{form-input-price review=model}}
      </div> {{!-- /type and price --}}

      <div class="row"> {{!-- location --}}
        {{form-input-region-or-city review=model}}
        {{form-input-state-or-province review=model}}
        {{form-input-country review=model}}
 
      </div> {{!-- /location --}} 

      <div class="row"> {{!-- ratings --}}
        {{form-rating-lauren}}
        {{form-rating-dean}}
      </div> {{!-- /ratings --}}

    </div> {{!-- /details --}}
  </div> {{! -- /photo + details --}}

  <div class="row"> {{!-- review --}}
    {{form-textarea-review}}
  </div> {{!-- /review --}}

  <div class="form-group"> {{!-- submit button --}}
    <button type="submit" class="btn btn-lg btn-primary pull-right">Submit</button>
  </div> {{!-- /submit button --}}
</form>
